<div id="assign-group-dialog">
  <table class="ui-widget ui-widget-content">
    <thead>
      <tr class="ui-widget-header">
        <th>Day / Time</th>
        #{list types, as:'type'}
        <th>${type}</th>
        #{/list}
      </tr>
    </thead>
    <tbody>
      #{list days, as:'day'}
      <tr>
        <td>${day}</td>
        #{list types, as:'type'}
        <td>
          <fieldset>
          #{list groups[day][type], as:'groupList'}
            #{list groupList.value, as:'group'}
            <p><label style="display: inline"><input style="display: inline" type="radio" name="${day}${type}" value="${group.id}" ondblclick="uncheckRadio(this);">${group.name}</label></p>
            #{/list}
          #{/list}
          </fieldset>
        </td>
      #{/list}
      </tr>
    #{/list}
    </tbody>
  </table>
</div>
