<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title id='title'>SuperKiGaV</title>

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/ext-all.css" />

    <style type="text/css">
      html, body {
        height: 100%;
      }
    </style>

    <script type="text/javascript" src="/public/javascripts/ext-base.js"></script>
    <script type="text/javascript" src="/public/javascripts/ext-all.js"></script>
    <script type="text/javascript" src="/public/javascripts/ChildRecord.js"></script>
    <script type="text/javascript" src="/public/javascripts/AddChildView.js"></script>
    <script type="text/javascript" src="/public/javascripts/AddChildForm.js"></script>
    <script type="text/javascript" src="/public/javascripts/ChildrenView.js"></script>
    <script type="text/javascript" src="/public/javascripts/MainMenu.js"></script>
    <script type="text/javascript" src="/public/javascripts/ContentView.js"></script>
    <script type="text/javascript" src="/public/javascripts/MainView.js"></script>
    <script type="text/javascript">
      Ext.BLANK_IMAGE_URL = '/public/images/s.gif'

      Ext.onReady(function(){
        new MainView()
      })
    </script>
  </head>
  <body>
  </body>
</html>